<html>
  <head>
    <!--scss の読み込み-->
    <%= stylesheet_link_tag "home", :media => "all" %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="App">
        <h1>Board Logger</h1>
        <h2>サーフィンをする人のための記録アプリ</h2>
      </div>
    </div>
    <%= link_to "Sign up", new_user_path, class: "btn btn-info btn-lg" %>
  </body>
</html>
