<html>
  <head>
    <!--scss の読み込み-->
    <%= stylesheet_link_tag "home", :media => "all" %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="App">
        <h1>NAMI LOG</h1>
        <h2>サーファーのための記録アプリ</h2>
      </div>
    </div>
    <%= link_to "新規作成", new_user_path, class: "btn btn-info" , id:"SignUp" %>

    <!--BoardLoggerの説明ページへ-->
    <%= link_to "NAMILOGとは？", explain_explain_path , class: "btn btn-success" , id:"HowToUse"%>
  </body>
</html>
