<html>
  <head>
    <!--scss の読み込み-->
    <%= stylesheet_link_tag "home", :media => "all" %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="App">
        <h1>Board Logger</h1>
        <h2>サーフィンをする人のための記録アプリ</h2>
      </div>
    </div>
    <%= link_to "Sign up", new_user_path, class: "btn btn-info " , id:"SignUp" %>

    <!--BoardLoggerの説明ページへ-->
    <%= link_to "How To Use", explain_explain_path , class: "btn btn-success " , id:"HowToUse"%>
    <!--下に行けるよマーク-->
    <!--
    <span class="glyphicon glyphicon-chevron-down" id="arrow_bottom1" aria-hidden="true"  ></span>
    <span class="glyphicon glyphicon-chevron-down" id="arrow_bottom2" aria-hidden="true" ></span>
    <div class="Explain_arrow_bottom">
      <h3>使い方</h3>
    </div>
    -->

  </body>
</html>
