<html>
  <head>
    <title><%= @board.location %>のサーフポイント</title>
    <!-- current_userだけの機能 ↓ 地図画面にピンをうつまでがカレントユーザの仕事 実装済み -->

    <%= stylesheet_link_tag "boards", :media => "all" %>
  </head>

  <body>
    <% if @user == current_user %>
      <%= render 'shared/can_edit_board' %>
    <% else %>
      <%= render 'shared/cannot_edit_board' %>
    <% end %>
  </body>
</html>
