// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//　PC用に
@media screen and (min-device-width:768px){
    //画面サイズが768px以上の場合読み込む
    .jumbotron{
        background: image-url("jeremy-bishop-unsplash.jpg");
        background-size: cover;
        background-position: center 60%;
        padding-bottom: 200px;
    }
    .jumbotron h1 {
        color: #F5F5F5;
    }
    .jumbotron h2 {
        color: #F5F5F5;
    }
}

// スマホ用に
@media screen and (max-device-width:767px) {
    .jumbotron{
        //.jumbotronタグの位置を指定
        position: fixed;//絶対位置
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;

        margin-top:50px;    //header が50pxあるから　
        margin-bottom:0%;   //jumbotronのデフォルトでは、bargin-bottomが設定されているっぽい

        background: image-url("jeremy-bishop-unsplash.jpg");
        background-size: cover;
        background-position: center 60%;
        z-index:-1; //背面に表示する

        .App{
            position: absolute;
            top: 50%;
            bottom: 70%;

            h1{
                font-size:90px;
                color: #F5F5F5;
                position: relative;//application.scssが悪さしてるから
                top: 0px;//application.scssが悪さしてるから
            }
            h2{
                color: #F5F5F5;
                font-size:50px;
                text-align:center;
            }
        }
    }
    //SignUpボタンを調整
   .btn#SignUp{
        font-size:70px;//ボタンの中の文字の大きさを変更
        position: fixed;
        top:78%;
        bottom: 12%;
        left: 25%;
        right: 25%;
    }
    //HowtoUseボタンを調整
    .btn#HowToUse{
        font-size:70px;//ボタンの中の文字の大きさを変更
        position: fixed;
        top: 89%;
        bottom: 1%;
        left: 25%;
        right: 25%;
    }
/*//説明を載せる時
    //下矢印の位置を設定
    .glyphicon{
        font-size:5vh;//画面のたての長さの5%
        text-align:center; 
        color:white;
    }
    #arrow_bottom1{
        position: fixed;
        top:91%; 
        bottom:95%;
        left:25%;
        right:25%;
    }
    #arrow_bottom2{
        position: fixed;
        top:95%; 
        bottom:100%;
        left:25%;
        right:25%;
    }
    .Explain_arrow_bottom{
        position: fixed;
        top:91%;
        bottom:98%;
        left:60%;
        right:100%;

        color:white;
    }
*/

}