// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//　PC用に
@media screen and (min-device-width:768px){
    //画面サイズが768px以上の場合読み込む
    .jumbotron{
        background: image-url("jeremy-bishop-unsplash.jpg");
        background-size: cover;
        background-position: center 60%;
        padding-bottom: 200px;
    }
    .jumbotron h1 {
        color: #F5F5F5;
    }
    .jumbotron h2 {
        color: #F5F5F5;
    }
}

// スマホ用に
@media screen and (max-device-width:767px) {
    .jumbotron{
        //.jumbotronタグの位置を指定
        position: fixed;//絶対位置
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;

        margin-top:50px;    //header が50pxあるから　
        margin-bottom:0%;   //jumbotronのデフォルトでは、bargin-bottomが設定されているっぽい

        background: image-url("jeremy-bishop-unsplash.jpg");
        background-size: cover;
        background-position: center 60%;
        z-index:-1; //背面に表示する

        .App{
          /*
            position: absolute;
            top: 0%;
            bottom: 70%;
            right: 0%;
            left: 0%;
          */



          h1{
              font-size:140px;
              color: #FFFFFF;
              position: relative;//application.scssが悪さしてるから
              top: -30px;//application.scssが悪さしてるから
              text-align: center;
              font-weight: 600;
              font-family: "Comic Sans MS";
              text-stroke: 1px #6495ED;
              -webkit-text-stroke: 1px #6495ED;
              text-shadow:
                0px 0px 0px #ffffff,
                -2px 2px 1px #000000,
                0px 0px 0px #ffffff,
                0px 0px 0px #000000;
            }
            h2{
              color: #6495ED;
              position: relative;//application.scssが悪さしてるから
              top: -50px;//application.scssが悪さしてるから
              font-weight: 800;
              font-size:50px;
              text-align:center;
              font-family: "Comic Sans MS";
              text-stroke: 1px #6495ED;;
              -webkit-text-stroke: 1px #6495ED;;
            }
        }
    }
    //SignUpボタンを調整
   .btn#SignUp{
        font-size:60px;//ボタンの中の文字の大きさを変更
        position: fixed;
        top:78%;
        bottom: 12%;
        left: 25%;
        right: 25%;
    }
    //HowtoUseボタンを調整
    .btn#HowToUse{
        font-size:60px;//ボタンの中の文字の大きさを変更
        position: fixed;
        top: 89%;
        bottom: 1%;
        left: 25%;
        right: 25%;
    }

    .form-control {//テキストエリアのcss を設定
      font-size:40px;
      margin-bottom: 5px;
    }

}
